
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614274113300595504.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614274113300595504.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614274113300595504.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614274113300595504.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614274113300595504.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614274113300595504.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614274113300595504.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614274113300595504.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614274113300595504.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614274113300595504.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614274113300595504.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614274113300595504.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614274113300595504.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614274113300595504.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614274113300595504.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614274113300595504.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614274113300595504.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614274113300595504.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614274113300595504.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614274113300595504.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614274113300595504.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614274113300595504.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614274113300595504.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614274113300595504.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614274113300595504.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614274113300595504.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614274113300595504.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614274113300595504.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614274113300595504.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614274113300595504.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614274113300595504.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614274113300595504.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614274113300595504.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614274113300595504.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614274113300595504.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614274113300595504.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614274113300595504.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614274113300595504.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614274113300595504.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614274113300595504.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614274113300595504.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614274113300595504.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614274113300595504.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614274113300595504.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614274113300595504.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614274113300595504.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614274113300595504.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614274113300595504.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614274113300595504.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614274113300595504.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614274113300595504.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614274113300595504.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614274113300595504.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614274113300595504.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614274113300595504.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614274113300595504.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614274113300595504.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614274113300595504.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614274113300595504.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614274113300595504.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614274113300595504.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614274113300595504.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-614274113300595504.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614274113300595504.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614274113300595504.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614274113300595504.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614274113300595504.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614274113300595504.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614274113300595504.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614274113300595504.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614274113300595504.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614274113300595504.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614274113300595504.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-614274113300595504.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614274113300595504.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614274113300595504.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614274113300595504.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614274113300595504.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614274113300595504.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614274113300595504.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614274113300595504.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614274113300595504 .gp-relative{position:relative}.gps-614274113300595504 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614274113300595504 .gp-mb-0{margin-bottom:0}.gps-614274113300595504 .gp-flex{display:flex}.gps-614274113300595504 .gp-grid{display:grid}.gps-614274113300595504 .\!gp-hidden{display:none!important}.gps-614274113300595504 .gp-hidden{display:none}.gps-614274113300595504 .gp-max-w-full{max-width:100%}.gps-614274113300595504 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614274113300595504 .gp-flex-col{flex-direction:column}.gps-614274113300595504 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614274113300595504 .gp-duration-200{transition-duration:.2s}.gps-614274113300595504 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614274113300595504 .tablet\:\!gp-hidden{display:none!important}.gps-614274113300595504 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-614274113300595504 .mobile\:\!gp-hidden{display:none!important}.gps-614274113300595504 .mobile\:gp-hidden{display:none}}.gps-614274113300595504 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"RGBA(226, 226, 226, 0.31)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"RGBA(226, 226, 226, 0.31)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt0hPG37iY"}' data-id="gt0hPG37iY" id="gt0hPG37iY" data-same-height-subgrid-container class="gt0hPG37iY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:40px;--pl:450px;--pb:15px;--pr:450px;--pt-tablet:80px;--pl-tablet:40px;--pb-tablet:80px;--pr-tablet:40px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:RGBA(226, 226, 226, 0.31);--bgc-mobile:RGBA(226, 226, 226, 0.31);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gx2s9e4QvO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gb5NcBLT-r"}' data-id="gb5NcBLT-r" id="gb5NcBLT-r" data-same-height-subgrid-container class="gb5NcBLT-r gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pb-mobile:0px;--mb-tablet:0px;--cg:42px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-mobile:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gpuJwYRUbv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdBep49_gL"
        class="gdBep49_gL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--mb-tablet:15px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:900;--size:30px;--size-tablet:36px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdBep49_gL_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdCTPDPq2P"
        class="gdCTPDPq2P"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:15px;--pb-tablet:15px;--mb-mobile:0px;--pb-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:180%;--lh-mobile:150%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdCTPDPq2P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-614274113300595504 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/iy0n01-bx/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614274030555366192&sectionId=614274113300595504)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdBep49_gL_text","label":"ggdBep49_gL_text","default":"5 Gründe, warum Ihre Sicherheitsschuhe Ihre Plantarfasziitis <span style=\"color:#FFD706;\"><i>verschlimmern</i></span>"},{"type":"html","id":"ggdCTPDPq2P_text","label":"ggdCTPDPq2P_text","default":"<p>Wenn sich der erste Schritt aus dem Bett anfühlt, als würden Sie auf Glasscherben treten, dann lassen Ihre Schuhe Sie nicht nur im Stich.</p><p><i><strong>Sie sind der Grund, warum es schlimmer wird.</strong></i></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}